

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

.App{
  font-family: "Space Grotesk";
  margin: 0;
  padding: 0;
  color: var(--white);
  background-color: var(--primary);
  font-size: smaller;
  width: 400px;
  padding: 11px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 25px;
}
